h1 {
  height: 100px;
  background-color: rgb(36, 48, 61);
  line-height: 100px;
  text-align: center;
  color: white;
  font-family: 'Ember', serif;
  margin-bottom: 100px;
}

#app {
  font-family: 'Ember', serif;
}

.hidden {
  display: none;
}

.card {
  height: 100%;
}

.card:hover {
  cursor: pointer;
}

.card-title {
  margin-bottom: 5px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.item-name {
  font-weight: bold;
}

.item-details,
.item-origin {
  font-size: 0.9em;
}

.cart-container {
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  color: rgb(253, 152, 39);
  text-align: right;
}

.btn-primary {
  background: linear-gradient(rgb(253, 188, 111), rgb(253, 152, 39));
  border-color: rgb(36, 48, 61);
  color: black;
  display: inline-block;
  position: absolute;
  right: 15px;
}

.badge {
  font-size: 16px;
}
