h1 {
  height: 100px;
  background-color: rgb(36, 48, 61);
  line-height: 100px;
  text-align: center;
  color: white;
  font-family: 'Ember', serif;
  margin-bottom: 100px;
}

#app {
  font-family: 'Ember', serif;
}

.hidden {
  display: none;
}

.card {
  height: 100%;
}

.card:hover {
  cursor: pointer;
}

.card-title {
  margin-bottom: 5px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.item-name {
  font-weight: bold;
}

.item-details,
.item-origin {
  font-size: 0.9em;
}

.cart-container {
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  color: white;
  text-align: right;
}

.cart-number {
  color: rgb(253, 152, 39);
}

.cart-container:hover {
  cursor: pointer;
}

.btn-primary {
  border-color: rgb(36, 48, 61);
  color: black;
  display: inline-block;
  position: absolute;
}

#add-to-cart {
  background: linear-gradient(rgb(253, 188, 111), rgb(253, 152, 39));
  right: 180px;
}

#continue-shopping {
  background: linear-gradient(rgb(239, 193, 87), rgb(253, 188, 111));
  right: 15px;
}

.badge {
  font-size: 100%;
}

.cart-col {
  padding: 0 25px;
  min-height: 150px;
  margin-bottom: 20px;
  border-bottom: 1px solid lightGray;
}

.cart-header {
  margin-bottom: 50px;
}

.cart-img {
  position: absolute;
  margin-left: 0;
  max-width: 50%;
  max-height: 95%;
  padding-right: 30px;
}

.cart {
  margin-left: 70%;
  width: 50%;
  text-align: left;
}

.card-title.cart {
  padding-top: 25px;
}

.cart-total {
  font-size: 1.4em;
}
